name: CI/CD Pipeline

on:
  release:
    types: [ published ]
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ruff lint
        run: ruff check app tests

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with coverage
        run: pytest --cov=app --cov-fail-under=80

  build:
    name: Build & Publish Docker Image
    runs-on: ubuntu-latest
    needs: [lint, test]

    # Only publish images on GitHub Releases
    if: github.event_name == 'release'

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      # Required for ARM builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/fastapi-gitops-starter:${{ github.event.release.tag_name }}
            ghcr.io/${{ github.repository_owner }}/fastapi-gitops-starter:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max